body
{
	background: rgb(255,255,255); /*fondo*/
	color: #000000;
	margin: 0 auto ;
	max-width: 1024px; /*ancho máximo*/ 
	/*color: hotpink;*/
}

header
{
	background: blue; /*fondo*/
	border: 1px solid black; /*alrededor*/
	border-radius: 5px; /*esquinas*/
	box-shadow: 5px 5px black; 
	color: white; /*letra*/
}

header h1
{
	color:yellow;
	font-family: 'Exo 2', sans-serif;
	text-shadow: 5px 5px 10px black;
	text-align: center;
}

header img
{
	float: right;
	margin-right: 20px;
	margin-top: 25px;
	width: 80px;
}

header nav ul li
{
	/*border: 1px solid yellow;*/
	background: white;
	border-radius: 5px;
	box-shadow: -5px -5px black; /*sombra de caja*/
	color: black;
	display: inline-block; /*rompe caja*/
	margin: 0px 30px;
	padding: 10px;
}
header nav ul li:hover /*mouse encima*/
{
	background: black; 
	color: white;
}

/*Aquí van los Id's*/
#seccion1
{
	border: 10px solid red;
}

#seccion1 article
{
	border: 10px solid black;
	display: inline-block;	
	vertical-align: top;
	width: 47.8%;
}
