body {
	background: black;
	color: #d9d9d9;
	margin: 0 auto;
	max-width: 1024px;
	font-family: sans-serif;
}

header {
	background: #d9d9d9;
	border: 1px solid white;	
	border-radius: 5px;
	color: black;
	margin-top: 10px;
}

header h1 {
	text-align: center;
}

ul {
	list-style: none;
	text-align: center;
}

header nav ul li {
	display: inline-block;
	margin-right: 35px;
	background: white;		
	padding: 10px;
	opacity: 0.5;
}

header nav ul li:hover {
	opacity: 1;
	cursor: crosshair;
}