body {	
	margin: 0 auto;	
	text-align: center;
	width: 1024px;
}

form {	
	margin: 0 auto;
	width: 500px;
}

table {
	border-collapse: collapse;	
}

td {		
	font-size: 95px;
	height: 150px;	
	width: 250px;	
}

.right {
	border-right: 5px solid red;
}

.lower {
	border-bottom: 5px solid red;	
}